body {
  background-color: #cecdcd;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  color: white;
}

.login-div {
  text-align: center;
  margin-top: 5%;
}

.form-div {
  margin: auto;
  background-color: whitesmoke;
  width: 400px;
  box-shadow: 1px 2px 5px 1px gray;
  padding: 14px 0px;
  border-radius: 4px;
}

.login-form {
  padding: 18px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 10px;
}

.register {
  background-color: darkcyan;
  padding: 8px 0px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: white;
  cursor: pointer;
}

.register:hover {
  background-color: #04a8a8;
}

.login-form input {
  background-color: #c9c7c7;
  border: none;
  padding: 10px 0px;
  border-radius: 4px;
}

.login-form button {
  padding: 8px 0px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: #4267B2;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #5583de;
}

.login-form input::placeholder {
  color: #413f3f;
  text-align: center;
  font-size: 14px;
}

button:active {
  transform: scale(0.98);
}

h4 {
  color: gray;
}


/* Dashboard Styling */

.todo-app {
  text-align: center;
}

/* navbar */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: whitesmoke;
  box-shadow: 1px 2px 5px 1px gray;

}

.nav-buttons {
  display: flex;
  gap: 8px;
}

input {
  /* padding: 56px 11px; */
  border-radius: 4px;
  text-align: center;
  border: 1px solid gray;
}

/* hero section */
.header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
}

.sorting {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* todos section */

.todos {
  margin: 0px 0px;
}

.todo-div {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 5px;
  margin: 10px 0px;
}

.todo-name{
  cursor: pointer;
  width: 50vw;
  text-align: center;
  background-color: whitesmoke;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 1px gray;
}
.todo-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.todo-header h2{
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px 7px;
  transform:rotate(90deg);
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30vw;
}

/* button styling */
.create {
  background-color: darkcyan;
}

.logout {
  background-color: brown;
}

.edit-btn {
  background-color: #314354;
}

.delete-btn {
  background-color: brown;
}

/* styling tasks */
.tasks-div {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}
.tasks-div p{
  background-color: #5583de;
  margin: 3px;
  padding: 6px 0px;
  border-radius: 4px;
  color: white;
}